body {
    background-color: rgb(187, 116, 116);

}

.titulo {
    font-size: 2cm;
    color: rgb(255, 255, 255);
    font-style: oblique;
    position: relative;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 1200px) {
    .titulo {
        font-size: 1.5cm;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {
    .titulo {
        font-size: 1.2cm;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 480px) {
    .titulo {
        font-size: 1cm;
        left: 50%;
        transform: translateX(-50%);
    }
}



.cafe1 {
    border-radius: 10px;
    top: 20px;
}

.menu {
    color: aliceblue;
}

.cafes {

    border: 1px solid;
    border-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    
}

.tortas {

    border: 1px solid;
    padding: 20px;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
   
}

.bebidas {

    padding: 20px;
    border-radius: 10px;
    border: 1px solid;
    border-color: rgb(255, 251, 251);
}

.fondo {
    margin: 2cm;
    background-color: rgb(255, 255, 255);
    padding-top: 1cm;
    padding-bottom: 1cm;
    background-size: 2000px 2000px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("https://imgs.search.brave.com/fja18_i3BN8np3Y97goHPMXG3H9VQf4WZbRFPahnB0o/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzgzL2Vk/LzBlLzgzZWQwZTA0/ZDM2YzMzMDM4ZDcx/NGU1ODI1Nzc4OGI5/LmpwZw");
}

.price {
    font-weight: bold;

}